@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
	--pr-bright_blue: hsl(220, 98%, 61%);
	--pr-check_bg: linear-gradient(#57ddff, #c058f3);
	--lt-very_light_gray: hsl(0, 0%, 98%);
	--lt-very_grayish_blue: hsl(236, 33%, 92%);
	--lt-dark_grayish_blue: hsl(236, 9%, 61%);
	--lt-very_grayish_blue: hsl(235, 19%, 35%);
	--dt-very_dark_blue: hsl(235, 21%, 11%);
	--dt-very_dark_desat_blue: hsl(235, 24%, 19%);
	--dt-light_grayish_blue: hsl(234, 39%, 85%);
	--dt-lighter_grayish_blue: hsl(236, 33%, 92%);
	--dt-dark_grayish_blue: hsl(234, 11%, 52%);
	--dt_very_dark_grayish_blue: hsl(233, 14%, 35%);
	--dt_darker_grayish_blue: hsl(237, 14%, 26%);
	--tp-body_font_size: 18px;
	--sz-max_desktop_size: 1440px;
	--sz-min_mobile_size: 375px;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}
